services:
  frontend:
    #image: node:trixie
    build:
      context: ./frontend
      dockerfile: DockerfileDev
    ports:
      #- "8080:80"
      - "${OUTPUT_PORT}:80"
      - 5173:5173
    environment:
      #NODE_ENV: ${NODE_ENV}
      NODE_ENV: PRODUCTION
    networks:
      - mediastray-network
    volumes:
      - ./public:/var/www/public
      - ./games:/var/www/games
      - ./frontend:/usr/share/nginx/html/frontend/app
    depends_on:
      backend:
        condition: service_started
    restart: always
    #healthcheck:
    #    test: ["CMD", "curl", "-f", "http://localhost:8081"]
    #    interval: 10s
    #    timeout: 5s
    #    retries: 5
    #start_period: 10s 

  backend:
    image: node:trixie
    build:
      context: ./backend
      dockerfile: DockerfileDev
    ports:
      #- "4000:4000"
      - "${BACKEND_PORT}:4000"
    environment:
      #NODE_ENV: ${NODE_ENV}
      NODE_ENV: DEVELOPMENT
      DATABASE_URL: ${DATABASE_URL}
      MONGODB_URI: ${MONGODB_URI}
      REDIS_HOST: ${REDIS_HOST}
      FREE_CORS: s
      MAILGUN_API_KEY: ${MAILGUN_API_KEY}
      MAILGUN_DOMAIN: ${MAILGUN_DOMAIN}
      MAILGUN_SENDER: ${MAILGUN_SENDER}
      MAILGUN_TEST_EMAIL: ${MAILGUN_TEST_EMAIL}
      PUBLIC_FILES_PATH: ${PUBLIC_FILES_PATH}
      GAMES_FILES_PATH: ${GAMES_FILES_PATH}
      FRONTEND_DIST_PATH: ${FRONTEND_DIST_PATH}
    volumes:
      - ./public:/var/www/public
      - ./games:/var/www/games
      - ./backend:/usr/src/app
    networks:
      - mediastray-network
    depends_on:
      - postgresql
      - mongodb
      - redis

  postgresql:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./.docker/database/postgresql:/var/lib/postgresql/data
    networks:
      - mediastray-network

  mongodb:
    image: mongo:4.4
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    volumes:
      - ./.docker/database/mongodb:/data/db
    networks:
      - mediastray-network

  redis:
    image: redis:6.2
    networks:
      - mediastray-network

networks:
  mediastray-network:
  esnet:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data: