services:
  #frontend:
  #  #image: node:trixie
  #  build:
  #    context: ./frontend
  #    dockerfile: Dockerfile
  #  ports:
  #    #- "8080:80"
  #    - "${OUTPUT_PORT}:80"
  #  environment:
  #    #NODE_ENV: ${NODE_ENV}
  #    NODE_ENV: PRODUCTION
  #    DATABASE_URL: ${DATABASE_URL}
  #    MONGODB_URI: ${MONGODB_URI}
  #    REDIS_HOST: ${REDIS_HOST}
  #    PUBLIC_FILES_DIR: /public
  #    GAMES_FILES_DIR: /games
  #  networks:
  #    - mediastray-network
  #  volumes:
  #    - ./public:/var/www/public
  #    - ./games:/var/www/games
  #  depends_on:
  #    backend:
  #      condition: service_started
  #  restart: always
  #  #healthcheck:
  #  #    test: ["CMD", "curl", "-f", "http://localhost:8081"]
  #  #    interval: 10s
  #  #    timeout: 5s
  #  #    retries: 5
  #  #start_period: 10s 

  backend: #Frontend y backend en el mismo contenedor (Nodejs sirve los archivos de la build de React)
    image: node:trixie
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      #- "8510:8510"
      - "${BACKEND_PORT}:8510"
    environment:
      #NODE_ENV: ${NODE_ENV}
      NODE_ENV: PRODUCTION
      DATABASE_URL: ${DATABASE_URL}
      MONGODB_URI: ${MONGODB_URI}
      REDIS_HOST: ${REDIS_HOST}
      MAILGUN_API_KEY: ${MAILGUN_API_KEY}
      MAILGUN_DOMAIN: ${MAILGUN_DOMAIN}
      MAILGUN_SENDER: ${MAILGUN_SENDER}
      PUBLIC_FILES_PATH: ${PUBLIC_FILES_PATH}
      GAMES_FILES_PATH: ${GAMES_FILES_PATH}
      FRONTEND_DIST_PATH: ${FRONTEND_DIST_PATH}
      SQL_INIT_PATH: ${SQL_INIT_PATH}
      SQL_INIT_PATH_FAKES: ${SQL_INIT_PATH_FAKES}
      INIT_TESTS: ${INIT_TESTS}
    volumes:
      - ./public:/var/www/public
      - ./games:/var/www/games
    networks:
      - mediastray-network
    depends_on:
      - postgresql
      - mongodb
      - redis

  postgresql:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./.docker/database/postgresql:/var/lib/postgresql/data
    networks:
      - mediastray-network
    #depends_on:
    #  - redis

  mongodb:
    image: mongo:4.4
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    volumes:
      - ./.docker/database/mongodb:/data/db
    networks:
      - mediastray-network

  redis:
    image: redis:6.2
    networks:
      - mediastray-network

networks:
  mediastray-network:
  esnet:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data: