services:
  frontend:
    #image: node:trixie
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      #- "8080:80"
      - "${OUTPUT_PORT}:80"
    environment:
      #NODE_ENV: ${NODE_ENV}
      NODE_ENV: PRODUCTION
    networks:
      - mediastray-network
    volumes:
      - ./public:/var/www/public
      - ./games:/var/www/games
    depends_on:
      backend:
        condition: service_started
    restart: always
    #healthcheck:
    #    test: ["CMD", "curl", "-f", "http://localhost:8081"]
    #    interval: 10s
    #    timeout: 5s
    #    retries: 5
    #start_period: 10s 

  backend:
    image: node:trixie
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      #- "4000:4000"
      - "${BACKEND_PORT}:4000"
    environment:
      NODE_ENV: ${NODE_ENV}
      DATABASE_URL: ${DATABASE_URL}
      MONGODB_URI: ${MONGODB_URI}
      REDIS_HOST: ${REDIS_HOST}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
    volumes:
      - ./public:/var/www/public
      - ./games:/var/www/games
    networks:
      - mediastray-network
    depends_on:
      - postgresql
      - mongodb
      - redis

  postgresql:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./.docker/database/postgresql:/var/lib/postgresql/data
    networks:
      - mediastray-network

  mongodb:
    image: mongo:4.4
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    volumes:
      - ./.docker/database/mongodb:/data/db
    networks:
      - mediastray-network

  redis:
    image: redis:6.2
    networks:
      - mediastray-network

  postfix:
    image: tozd/postfix:ubuntu-noble
    environment:
      POSTFIX_MYHOSTNAME: ${MYHOSTNAME}
      POSTFIX_RELAYHOST: ${SMTP_RELAY_HOST}:587
      POSTFIX_SMTP_USERNAME: ${SMTP_USER}
      POSTFIX_SMTP_PASSWORD: ${SMTP_PASS}
    ports:
      - "25:25"
    networks:
      - mediastray-network

networks:
  mediastray-network:
  esnet:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data: