.zona-mensajes {
    position:absolute; /*posicionar*/
    overflow: scroll;
}
.mensaje-flotante {
    border: 1px solid white;
    width: 200px;
    margin: 5px;
}
.mensaje-flotante.generico {}
.mensaje-flotante.exito {background-color: greenyellow;}
.mensaje-flotante.error {background-color: red;}
.mensaje-flotante.alerta {background-color: orange;}
.mensaje-flotante.informacion {background-color: cyan;}
/*animacion*/